mixin attributes(layout)
  ul.attributes(class=layout)
    if block
      block

mixin attr(title, value, variant, icon, layout)
  li.attr(class=layout)
    if icon
      .icon= icon
    if title
      .title= title
    if value
      .value(class=variant)= value 
