link(href="./components/panel.css", rel="stylesheet")

mixin panel(title, subtitle, description, image, href)
  - let has_synopsis = title || subtitle || description
  article.panel
    if image
      img(src=image, class="hidden md:block h-[6.25rem]")
    if has_synopsis
      .synopsis
        if title
          h3= title
        if subtitle
          h4= subtitle
        if description
          p(class={"hidden": !!href})= description
      if block
        block
      if href
        a(href=href) View
