link(href="./components/panel.css", rel="stylesheet")

mixin panel(title, subtitle, description, image, btn)
  - let synopsis = title || subtitle || description
  article.panel
    if image
      img(src=image, class="hidden md:block h-[6.25rem]")
    if synopsis
      .synopsis
        if title
          h3= title
        if subtitle
          h4= subtitle
        if description
          p(class={"hidden": !!btn})= description
      if block
        block
      if btn
        a(href=btn) View
